{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    
    {{assessmentDetails.title}}
  </h2>
  {{> listassessments}}
  {{> addassessment}}
</section>



