{{> welcomemenu }}



<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Marks Gym
  </h1>
  <h2>
    Please Login or Register
  </h2>
  <img class="ui center aligned middle large image  " src="https://cdn.glitch.com/9f237fdc-5e7d-43e4-a6a5-e8c2b3be1f76%2Fweight.PNG?1534758550328">
</section>
